_site/
.sass-cache
.jekyll-metadata
default.latex
2017-06-21-the-summer-solstice.md
2017-06-26-elsi.md
cv.html
euler54.py
golden_ratio.py
p054_poker.txt
primes.py
assets/2017-07-11-worldclusters.pdf
assets/2017-07-19-albums2017.pdf
assets/2017-07-24-socrates.pdf
assets/2017-07-07-something-to-tell-you.pdf
assets/2017-07-07-element.pdf
assets/2017-07-06-solvable2.pdf
assets/2017-06-24-pe51.pdf